html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
}

li {
  list-style: none;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(255, 192, 122, 0.9);
  position: fixed;
  top: 0;
  z-index: 10;
}

.header-icon {
  width: 65px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin: 20px;
}
header a {
  float: left;
  height: 65px;
  text-align: center;
  margin-right: 35px;
  display: block;
  background-color: white;
  opacity: 0.6;
}
